# Copier ce fichier en .env et remplir les valeurs
# Variables d'environnement pour learnwhitehack

LWH_TARGET_URL=https://www.supercinebattle-test.fr
LWH_TARGET_IP=51.159.54.97
LWH_TARGET_NAME=supercinebattle-test

# Stealth
LWH_STEALTH_MIN_DELAY=1.0
LWH_STEALTH_MAX_DELAY=3.5
# LWH_STEALTH_PROXIES=http://127.0.0.1:8080

# NVD API (optionnel, augmente les quotas)
# LWH_NVD_API_KEY=your_key_here

# Shodan API (optionnel)
# LWH_SHODAN_API_KEY=your_key_here

# HTTP
LWH_HTTP_VERIFY_SSL=true
